<h2>Listing movies</h2>

<h3>Add a <%= link_to 'new movie', new_movie_path %> from TVTropes</h3>

<% if @movies.any? %>
  <table border=1>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>(X)</th>
    </tr>

    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, movie %></td>
        <td><%= link_to movie.url, movie.url %></td>
        <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  Add some movies!
<% end %>